<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraries</title>
</head>
<body>
    <h1>All Libraries</h1>
    <ul>
        <% for(let library of libraries) { %>
            <li><%= library.name %> </a> </li>
            <li><%= library.city %> </a> </li>
        <% } %>  
    </ul>
</body>
</html>