<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Library</title>
</head>
<body>
    <h1>Add a new library</h1>
    <form action="/libraries" method="POST">
            <label for="names">Library name</label>
            <input type="text" name="names" placeholder="Library name" id="names">
            <label for="citys">City</label>
            <input type="text" name="citys" placeholder="Library City" id="citys">
            <label for="emails">Email</label>
            <input type="email" name="emails" placeholder="Library email" id="emails">
        <button>Add Library</button>
    </form>
    
</body>
</html>